modules = ["nodejs-24", "python-3.11", "javascript", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "API Spec Codegen"

[[workflows.workflow]]
name = "API Spec Codegen"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/api-spec run codegen"

[workflows.workflow.metadata]
outputType = "console"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3000

[[ports]]
localPort = 8083
externalPort = 5000

[[ports]]
localPort = 18115
externalPort = 3002

[[ports]]
localPort = 18116
externalPort = 3003

[[ports]]
localPort = 19006
externalPort = 4200

[[ports]]
localPort = 22333
externalPort = 3001

[nix]
channel = "stable-25_05"

[userenv]

[userenv.development]
WEB_ORIGIN = "https://0431ccd1-5990-4a57-9390-13c470740eec-00-1lq5qaomj0rdf.expo.picard.replit.dev,https://0431ccd1-5990-4a57-9390-13c470740eec-00-1lq5qaomj0rdf.picard.replit.dev"
